/* styles.css | Alex Olson | alexko@bu.edu */
/* stylesheet for everyting in MP-1 */

/* universal attributes defined in lecture */
* {
    margin: 0;
    box-sizing: border-box;
}

/* picked a different font following the style shown in lecture */
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* made it so elements with this ID align to the left regardless of parent */
#desc {
    text-align: left;
}

/* made it so elements with this ID align left and added padding */
/* used % here and throughout to ensure page is responsive */
#note {
    text-align: left;
    padding-top: 3%
}

/* followed from the discussion demo/instructions to get reccomended settings */
#page-wrapper {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

/* special nav setup in order to have horizontal nav bar */
#nav-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* selected color-scheme and added some padding/adjusted alignment as per instructions */
header, footer {
    background-color: rgb(255, 71, 71);
    padding: 1%;
    text-align: left;
}

/* determined nav bar color and sizing */
nav {
    background-color: rgb(228, 146, 146);
    width: 30%;
}

/* here and below continued to style individual nav elements */
nav ul {
    padding: 0;
    padding-top: 5%;
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav li {
    border: 5px solid black;
    border-radius: 0;
    margin: 3% auto;
    width: 80%;
    padding: 2%;
    text-align: center;
    background-color: rgb(247, 207, 207);

}

nav a {
    text-decoration: none;
    font-size: calc(2px + 2vw);
}

/* set main background color and sizing per instructions */
main {
    background-color: rgb(247, 207, 207);
    height: 100vh;
    width: 70%;
    padding: 2%;
}

/* wanted custom font as before for p tags */
p {
    font-family: 'Courier New', Courier, monospace;
}

/* added padding and used max-dimensions as instructions suggested */
main img {
    padding-bottom: 1%;
    padding-top: 1%;
    max-height: 35%;
    max-width: 30%;
}

/* was trying to wrap image but still not complete */
#img-wrap {
    display: flex;
    flex-direction: column;
}

/* removed padding and custom font */
main h2 {
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* ensured left text align, added padding for some spacing, and changed font */
main h3 {
    text-align: left;
    padding-top: 4%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* calculator styling here and below */
#calc {
    text-align: center;
    padding-bottom: 3%;
}

#calc_b {
    padding: 5%;
    background-color: rgb(228, 146, 146);
}

#calc_s {
    padding: 2%;
    background-color: rgb(255, 167, 167);
}

/* formatting experience bullet points */
main ul {
    padding: 0;
    padding-left: 2%;
    text-align: left;
}

/* needed to add some more spacing here */
#bottom {
    padding-bottom: 2%;
}

main li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* making input boxes for calc larger */
input {
    width: 10%;
    height: 6%;
}

/* making the buttons cleanly styled and have new font */
button {
    height: 10%;
    width: 10%;
    padding: 2%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(247, 207, 207);
}

/* slight padding on output so it doesnt border the calc buttons div */
#output {
    padding-top: 1%;
}

/* calculator labels padding and custom font */
label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 2%;
}

/* ovveridden values for mobile / smaller screen */
@media screen and (max-width: 750px) {

    /* switching nav layout to horizontal if small screen */
    #nav-main {
    flex-direction: column;
    }

    /* reccomended sizing changes from instructions/demo */
    main {
       width: 100%;
    }

    nav {
        width: 100%;
    }

    /* switching nav layout to horizontal if small screen */
    nav ul {
        flex-direction: row;
    }

    /* instructions wanted this centered for mobile */
    header, footer {
        text-align: center;
    }
}


